<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SH4U</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}" />
	<link href="../static/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container-fluid align-content-center" align="center">
        <div class="container title_container">
       <h1 class="title">SH4U - <span>Short URLs For You!</span></h1>
             </div>
       <hr style="background: aliceblue;">
       <br>
       <br>
       <p><h3 style="color: aliceblue;"><span>OOPS!</span> Short Code already in use for some other long URL</h3></p>
       <a href="https://sh4-u.herokuapp.com/">BACK TO HOME</a>
       </div>
</body>
</html>